<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz API</title>
  </head>
  <body>
 <ul>
    <li><a href="/admin/">Goto admin</a></li>
    <li><a href="/api/quiz/">Goto list of all quizzes</a></li>
    <li><a href="/api/card">Goto list of all cards</a></li>
    <li>-----</li>
    <li><a href="/api/card/1">Goto card 1</a></li>
    <li><a href="/api/card/2">Goto card 2</a></li>
    <li><a href="/api/card/3">Goto card 3</a></li>
    <li>-----</li>
    <li>Goto quizzes</li>
    <li><a href="/api/quiz/1">History - US Presidents</a></li>
    <li><a href="/api/quiz/2">Computer Science - OS</a></li>
    <li>-----</li>
    <li>AUTH</li>
    <li><a href="/auth/token/">Token Get</a></li>
    <li><a href="/auth/token/refresh/">Token Refresh</a></li>
    <li><a href="/auth/logout/">Token Logout</a></li>
    <li><a href="/auth/status/">Logged Status</a></li>
    <li>-----</li>
    <li><a href="/health/">Health</a></li>
  </ul>
  </body>
</html>
