<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz API</title>
  </head>
  <body>
 <ul>
    <li><a href="/admin/">Goto admin</a></li>
    <li>-----</li>
    <li><a href="/api/quiz/">Goto quizzes list</a></li>
    <li><a href="/api/quiz/add">Goto quizzes add</a></li>
    <li>-----</li>
    <li><a href="/api/card">Goto cards</a></li>
    <li><a href="/api/card/1">Goto card 1</a></li>
    <li><a href="/api/card/2">Goto card 2</a></li>
    <li><a href="/api/card/3">Goto card 3</a></li>
    <li>-----</li>
    <li><a href="/api/quiz/1">Goto quiz 1</a></li>
    <li><a href="/api/quiz/2">Goto quiz 2</a></li>
    <li>-----</li>
    <li><a href="/api/quiz/add/">Goto quiz ALL (add)</a></li>
    <li><a href="/api/quiz/add/?quiz=1">Goto quiz 1 (add)</a></li>
    <li><a href="/api/quiz/add/?quiz=2">Goto quiz 2 (add)</a></li>
  </ul> 
  </body>
</html>
